In [7]:
def sq(x):
    return x*x
sq(10)

100

In [10]:
numbers=[1,2,3,4,5,6,7,8,9]
result=list(map(sq,numbers))
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
## Lambda function with map

square=list(map(lambda x:x**2,numbers))
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
### Map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added=list(map(lambda x,y:x+y,numbers1,numbers2))

print(added)

[5, 7, 9]

In [26]:
## map to convert a list of strings to integers

tr=['1','2','3','4','5']
integer=list(map(int,tr))
print(integer)

[1, 2, 3, 4, 5]

In [2]:
words =["apple","banana"]
upper_word=list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA']

In [3]:
def get_name(person):
    return person['name']
people=[
    {'name':'shatru','age':32},
    {'name':'bisen','age':33}
]

name=list(map(get_name,people))
print(name)

['shatru', 'bisen']