In [1]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst= list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
numbers=tuple([1,2,3,4,5,6])   #tuple of a list
numbers

(1, 2, 3, 4, 5, 6)

In [5]:
tuple=(1,2,3,4,5,6)
tuple

(1, 2, 3, 4, 5, 6)

In [6]:
#list of a tuple
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [7]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
numbers

(1, 2, 3, 4, 5, 6)

In [9]:
numbers[-4:]

(3, 4, 5, 6)

In [10]:
## Tuple Opearations

concatenation=numbers+mixed_tuple
print(concatenation)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [11]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [12]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [13]:
## Immutable nature of Tuple

numbers[1]="shatrughan"

TypeError: 'tuple' object does not support item assignment

In [14]:
lst=list(numbers)
lst[1]="shatru"
lst

[1, 'shatru', 3, 4, 5, 6]

In [15]:
numbers

(1, 2, 3, 4, 5, 6)

In [16]:
print(numbers.count(1))
print(numbers.index(3))

1
2

In [17]:
## Packing and Unpacking tuple

##Packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [18]:
## Unpacked Element

a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [19]:
## Unpacling with *

numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [25]:
## Nestes List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [26]:
## Nestes Tuple
tpl=((1,2,3),(4,5,6),(7,8,9))
tpl[0][2]

3

In [27]:
## Iterating over nested tuples

for tl in tpl:
    for i in tl:
        print(i,end=" ")
    print()

1 2 3
4 5 6
7 8 9