In [1]:
a=32

In [3]:
## Declaring and Asiigning Variables

age=32
height=6.1
name="Shatrughan"
is_student=True
## printing the variables

print("Age :",age)
print("Height :",height)
print("Name :",name)

Age : 32
Height : 6.1
Name : Shatrughan

In [4]:
## Name Conventions
## valid variable names

first_name="Shatrughan"
last_name="Bisen"

In [7]:
## Invalid variable names
#2age=30
#first-name="shatru"
@name="shatrtru"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2473028836.py, line 4)

In [9]:
## case sensitivity
name="shatrughan"
Name="bisen"
name==Name

False

In [1]:
## Understanding Variable type


age=32
height=6.1
name="Shatrughan"
is_student=True
## printing the variables

print(type(height))

<class 'float'>

In [5]:
## Type Checking and Conversion

type(height)

float

In [10]:
height=1.2
print(type(height))

# Type Conversion
he=int(height)
se=str(height)
print(type(he))
print(type(se))
print(type(height))

### another example
age='25'
print(type(int(age)))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>

In [12]:
# Type conversion which cant change

name="Shatru"
int(name)

ValueError: invalid literal for int() with base 10: 'Shatru'

In [15]:
ch='c'

print(ord(ch))

99

In [17]:
height=5.11
type(height)
int(height)

5

In [18]:
float(int(height))

5.0

In [19]:
## input
age=input("What is the age")
print(age,type(age))

23 <class 'str'>

In [23]:
 
age=str(input("What is the age"))
print(age,type(age))

sha <class 'str'>

In [1]:
## Calculator

num1=float(input("Enter first number"))
num2=float(input("Enter second number"))

sum=num1+num2
diff=num1-num2
mul=num1*num2
div=num1/num2

print("Sum :",sum)
print("Diff :",diff)
print("Mul :",mul)
print("Div :",div)

Sum : 30.5
Diff : -10.5
Mul : 205.0
Div : 0.4878048780487805