In [1]:
range(5)

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [6]:
range(1,10,2)

range(1, 10, 2)

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [10]:
## string

str="Shatru Ghan"
for i in str:
    print(i)

S
h
a
t
r
u

G
h
a
n

In [11]:
## while loop => continue to execute as long as condition is true
count=0
while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [4]:
## Loop Control Statements

## break
## The break statement exits the loop prematurely.

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [5]:
## continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [6]:
## pass

for i in range(5):
    if i==3:
        print("The number is :",i)
        pass   ## if there is nothing to pass the use 'pass' as a statement
    print(i)

0
1
2
The number is : 3
3
4

In [10]:
## Nested Loops
## A loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [15]:
## Examples - Calculate the sum of first N natural numbers using a while and for loop

## while loop

n=10
sum=0
count=1

while count<=n:
    sum+=count
    count=count+1
print("The sum of first 10 naturalk number is:",sum)

The sum of first 10 naturalk number is: 55

In [18]:
## for loop

n=10
sum=0

for i in range(n+1):
    sum+=i
print(sum)

55

In [31]:
## Prime num between 1 and 100

for i in range(1,101):

    if i>1:
        for num in range(2,i//2+1):
            if i%num==0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *